@model WorkAppp.Models.Category

@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-md-12">
        <img class="img-fluid" src="~/images/h6.png" alt="Chania" width="1130" height="300">
    </div>
</div>
<h4 style="font-style:italic;text-shadow:2px 1px gray;color:red; font-size:24px;" ><marquee>New Food Offer Discount (30%) Pizza and Bargur</marquee></h4>
@*<h2 class="text-primary" >Create Category Name</h2>*@
    <br />
    <div class="row">
        <div class="col-md-4">
            <br />
            <form style="font-size:18px;" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CategoryName" class="control-label text-info"></label>
                    <input asp-for="CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add Item" class="btn btn-primary" />

                    <a class="btn btn-primary text-success" asp-action="Index">Back to List</a>

                </div>

            </form>

        </div>
        <div class="col-md-4">
            <h3 class="text-center text-danger"> Burgur</h3>
            <img class="img-fluid" src="~/images/h2.jpeg" alt="Chania" width="355" height="200">
            <p class="text-justify">
                but thanks to the flying popularity that this flavoursome drink is now available everywhere in the world. Bit of a misnomer, this
            </p>
        </div>

        <div class="col-md-4">
            <h3 class="text-center text-danger"> Burgur</h3>
            <img class="img-fluid" src="~/images/h2.jpeg" alt="Chania" width="355" height="200">
            <p class="text-justify">
                but thanks to the flying popularity that this flavoursome drink is now available everywhere in the world. Bit of a misnomer, this
            </p>
        </div>

    </div>



